:root {
    --color-primary: #af71cc; 
    --color-secondary: #FFFFFC; 
    --color-dark: #5d3a68; 
    --color-text: #3d2a52; 
    --color-background: #e4d5f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

header {
    background-color: var(--color-dark);
    color: var(--color-secondary);
    padding: 15px 0;
    text-align: center;
}

.form-container {
    width: 100%;
    background-color: var(--color-secondary);
    padding: 40px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

footer {
    background-color: var(--color-dark);
    color: var(--color-secondary);
    padding: 10px 0;
    text-align: center;
}
  