:root {
    --color-primary: #af71cc; 
    --color-secondary: #FFFFFC; 
    --color-dark: #5d3a68; 
    --color-text: #3d2a52; 
    --color-background: #e4d5f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

header {
    background-color: var(--color-dark);
    color: var(--color-secondary);
    padding: 15px 0;
    text-align: center;
}

.form-container {
    width: 100%;
    background-color: var(--color-secondary);
    padding: 40px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container h2 {
    font-size: 24px;
    color: var(--color-dark);
    font-family: "DM Sans", sans-serif;
    margin-bottom: 10px;
}
  
.form-container p {
    color: var(--color-text);
    margin-bottom: 20px;
}

.form-input label {
    font-size: 14px;
    color: var(--color-dark);
    margin-bottom: 5px;
    display: block;
}
  
.form-input input, .form-input select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-checkbox {
    font-size: 14px;
    color: var(--color-dark);
    margin-bottom: 5px;
    display: block;
}

.get-started {
    width: 100%;
    padding: 12px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

footer {
    background-color: var(--color-dark);
    color: var(--color-secondary);
    padding: 10px 0;
    text-align: center;
}
  